# except for .gitignore
!.gitignore

build/
examples/bin/
tests/bin/

# Ignore JetBrains and Eclipse IDE metadata and default build directories
.idea/
.settings/
.project
.cproject
Release/
Debug/
cmake-build-*/
